# Ignore the node_modules directory
node_modules

# Ignore contents of build directory (but not the build directory itself)
build/*
!build/.gitkeep
!build/index.html

# Ignore log files (like npm-debug.log)
*.log
